# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\JAVA\PROJECTS\secondphp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/sonarlint/issuestore/index.pb
/sonarlint/issuestore/2/d/2d329044c6b41bffeb5f66966b019084792bc4ba
/sonarlint/issuestore/9/e/9e11af2d4fc1ebf17b3fa57ca88f810bdcdfc93e
/sonarlint/issuestore/0/6/063eb51371b5180868d3238e05160b98311ab6fe
/sonarlint/issuestore/7/5/758b391a8f5cd5326bf3dfbb7820cf07dbc33f58
